* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  background: url(https://wallpapercave.com/wp/HGMtO8W.jpg) fixed;
  background-size: 100%;
  font-family: Arial, sans-serif;
  color: white;
}
.nav-link {
  color: #dddddd;
}
p {
  margin: 5%;
  font-size: 1.2em;
}
h1 {
  text-align: center;
  margin-top: 20px;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 90%;
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: cornflowerblue;
  color: white;
}

iframe {
  margin: 10px;
  width: 672px;
  height: 378px;
}
.btn {
  font-size: 30px;
  border: 2px solid white;
  background: none;
  letter-spacing: 7px;
  font-family: Arial, sans-serif;
  display: inline-block;
  padding: 13px 40px;
  margin-top: 30px;
  color: antiquewhite;
}
.content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 100px;
  backdrop-filter: blur(5px);
}

.text {
  position: relative;
  max-width: 700px;
  color: aliceblue;
}

.content .text h1 {
  font-size: 2.5em;
  line-height: 1.4em;
  font-weight: 300;
  text-align: center;
  margin: 20px 0;
}

.content .text h1 span {
  font-size: 2.3em;
  font-weight: 600;
}

.text article {
  font-size: 28px;
  line-height: 1.5;
  margin-top: 18px;
}

.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  max-width: 400px;
  margin: 10px;
  width: 100%;
}

.card {
  max-width: 400px;
  margin: 50px 10px;
  position: relative;
}

.card-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 30px;
}

.card-title p,
h4,
h5 {
  font-family: "Nunito" !important;
  text-align: center;
  color: white;
}

.card-text {
  font-family: "Nunito" !important;
  text-align: center;
  color: white;
}

.card-flip {
  display: flex;
  flex-direction: column;
  perspective: 700px;
  padding: 10px;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.front {
  background-color: #4d4d4d !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.back {
  background-color: #383428 !important;
  transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
  transform: rotateY(180deg);
}

.btn {
  color: lightgray !important;
}

.btn:hover {
  color: white !important;
}

.rating {
  text-decoration: none;
  color: #ff9800 !important;
}

.rating:hover {
  text-decoration: none;
  color: #ffcc80 !important;
}

.movie {
  position: fixed;
  z-index: -1;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  .content {
    padding: 50px;
  }

  .text {
    font-size: 20px;
  }

  .grid-wrapper {
    display: none;
  }
  .text article {
    font-size: 16px;
    margin-top: 10px;
  }
  .content .text h1 {
    font-size: 1.8em;
    margin: 10px 0;
  }

  .content .text h1 span {
    font-size: 1.6em;
  }
}
